ul{
    list-style: none;
}
ul li img{
    width: 150px;
    height: 150px;
}
li{
    list-style: none;
}
.container{
    width: 500px;
    position: relative;
    right: 350px;
}
.form-control{
    height: 30px;
    margin-top: 5px;
}
.container1{
    position: relative;
    right: -550px;
    top: -400px;
    height: 400px;
}
.titulos{
    text-align: center;
    font-weight: bold;
    display: flex;
    position: relative;
    right: -150px;
    bottom: -50px;
}
.grupo{
    display: flex;
    position: relative;
    right: -300px;
    top: -90px;
}
.Curso{
    position: relative; 
    right: -7px ;
    top: -3px;
}
.form-control1{
    width: 45px;
}
p{
    margin-right: 100px;
}
.Titular{
    font-weight:bold;
    font-size: 17px;
    margin-top: 7px;
}
.AgregarCurso{
    position: relative;
    top: 50px;
    right: -110px;
    border: black 1px solid;
    height: 100px;
    width: 550px;
    padding-left: 50px;
    padding-top: 30px;
    display: none;
}
.Actualizar{
    display: none;
}
.Editar{
    position: relative;
    top: -340px;
    left: -40px;
}